
<nav class="navgrid">
    <div class="navmenu" onclick="menuActive()">
        <img src="/menu-button-of-three-horizontal-lines.png"/>
    </div>
    <div>
        <a href="/"><h1>GE - Criador de Conteúdo</h1></a>
    </div>
</nav>
<div class="menu" id="menulateral">
    <div class="menuitens">
        <ul>
            <li>
                <a href="/article/new">
                    Criar Artigo
                </a>
            </li>
            <hr>
            <li>
                <a href="/author/profile">
                    Ver Perfil
                </a>
            </li>
            <hr>
        </ul>
    </div>
    <div class="closemenu">

    </div>
</div>