<nav class="navgrid">
    <div class="navmenu" onclick="menuActive()">
        <img src="/menu-button-of-three-horizontal-lines.png"/>
    </div>
    <div>
        <a href="/"><h1>GE</h1></a>
    </div>
</nav>
<div class="menu" id="menulateral">
    <div class="menuitens">
        <ul>
            <li>
                Futebol Nacional
            </li>
            <hr>
            <li>
                Futebol Internacional
            </li>
            <hr>
        </ul>
    </div>
    <div class="closemenu">

    </div>
</div>